<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Welcome to Social Login app</h1>
      <br />
      <asl-google-signin-button
        type="standard"
        size="large"
        data-text="Login with google"
        theme="filled_blue"
      >
      </asl-google-signin-button>

      <button (click)="getUsers()" class="btn btn-success mt-2">
        Get Users
      </button>

      <button (click)="getProducts()" class="btn btn-success mt-2">
        Get Products
      </button>
    </div>
  </div>
</div>
